{% extends 'base.html.twig' %}

{% block title %}Category index{% endblock %}

{% block javascripts %}
<script>
$(document).ready(function () {
    $('#category_dt').DataTable({
        ajax: {
            dataType: 'json',
            contentType: "application/json; charset=utf-8",
            type: "GET",
            url:"/category/ajax-categorie-dt"
        },
        sAjaxSource: "",
        sAjaxDataProp: "",
        columns: [
        { data: 'id'  },
        { data: 'name' },
        { data: 'active' },
        { data: 'Created At.date' },
        { data: 'Updated At.date' } ,
                  ],

    });
});
</script>
{% endblock %}

{% block body %}
   {{ include('includes/navbar.html.twig')}}
<main class="container">
    <h1>Category index</h1>

    <table id="category_dt" class="table table-striped" style="width:100%">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Active</th>
                <th>CreatedAt</th>
                <th>UpdatedAt</th>
            </tr>
        </thead>
        
        <tfoot>
                <th>Id</th>
                <th>Name</th>
                <th>Active</th>
                <th>CreatedAt</th>
                <th>UpdatedAt</th>
        </tfoot>
    </table>

    <a class="btn btn-primary" href="{{ path('app_category_new') }}">Create new</a>
</main>
   {{ include('includes/footer.html.twig')}}
{% endblock %}
