{% extends 'base.html.twig' %}

{% block title %}Order index{% endblock %}

{% block javascripts %}
<script>
$(document).ready(function () {
    $('#order_dt').DataTable({
        ajax: {
            dataType: 'json',
            contentType: "application/json; charset=utf-8",
            type: "GET",
            url:"/order/ajax-order-dt"
        },
        sAjaxSource: "",
        sAjaxDataProp: "",
        columns: [
        { data: 'id'  },
        { data: 'unity price' },
        { data: 'total price' },
        { data: 'quantity' },
        { data: 'Created At.date' },
        { data: 'Updated At.date' } ,
                  ],

    });
});
</script>
{% endblock %}

{% block body %}
   {{ include('includes/navbar.html.twig')}}
<main class="container">
    <h1>Order index</h1>

    <table id="order_dt" class="table table-striped" style="width:100%">
        <thead>
            <tr>
                <th>Id</th>
                <th>Unity price</th>
                <th>Total price</th>
                <th>Quantity</th>
                <th>CreatedAt</th>
                <th>UpdatedAt</th>
            </tr>
        </thead>
        
        <tfoot>
                <th>Id</th>
                <th>Unity price</th>
                <th>Total price</th>
                <th>Quantity</th>
                <th>CreatedAt</th>
                <th>UpdatedAt</th>
        </tfoot>

    </table>

    <a class="btn btn-primary" href="{{ path('app_order_new') }}">Create new</a>
</main>

    {{ include('includes/footer.html.twig')}}
{% endblock %}
